{% extends 'index.html' %}
{%  load static %}
{% block content %}
 <section class="flex flex-col sm:flex-row">
    <img src="{% static 'img/linkedinoe.JPG' %}" class="w-1/2 h-[345px]" alt="">
    <div class="w-1/2 flex flex-col items-center justify-center">
        <h2 class="text-3xl ">Hi am Ochieng odhiambo</h2>
        <p class="text-xl"> i am a proficient software developer and a sales man</p>
        <div class="max-w-sm flex flex-row justify-between my-6">
            <img src="{% static 'img/linkedin.png' %}" alt="likendin" class="h-16 w-16">
            <img src="{% static 'img/github.png' %}" alt="github" class="h-16 w-16">
        </div>
        <div class="mt-5">
            <button class="bg-gray-900 text-white rounded-md px-4 py-3 ">open my cv</button>
        </div>
    </div>
 </section>
{% endblock content %}