<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  
</head>
<body class="min-h-screen w-full bg-gray-50">
    <header class="bg-gray-900 text-white ">
        <h2>i am ochieng odhiambo</h2>
    </header>
    <main class="flex-grow">

    </main>
    <footer class="bg-teal-500 text-white py-9"></footer>
</body>
</html>